In [88]:
#Library yang digunakan
import pandas as pd
import numpy as np

In [89]:
#import data dgn format excel
dataset = pd.read_excel('datamentah.xlsx')
#melihat data
dataset.head()

,No,Umur,JK,Sex,RK,BB,Hipertensi / sistol,LDM,TKT,GDS,HBA1C,EKG,KET
0,1.0,46,P,Y,T,50,150,2011,110.0,444,6.8,Y,+
1,2.0,63,P,Y,Y,65,140,2019,130.0,202,7.7,Y,+
2,3.0,72,P,Y,T,60,174,2018,185.0,116,5.7,Y,+
3,4.0,64,P,Y,T,52,120,2018,170.0,396,8.2,Y,+
4,5.0,54,P,Y,T,55,157,2018,167.0,384,11.8,Y,+

In [90]:
#transformasi data
dataset.loc[dataset['JK'] == 'P', 'JK'] = 0
dataset.loc[dataset['JK'] == 'L', 'JK'] = 1

dataset.loc[dataset['Sex'] == 'Y', 'Sex'] = 0
dataset.loc[dataset['Sex'] == 'Y', 'Sex'] = 1

dataset.loc[dataset['RK'] == 'Y', 'RK'] = 0
dataset.loc[dataset['RK'] == 'T', 'RK'] = 1

dataset.loc[dataset['EKG'] == 'Y', 'EKG'] = 0
dataset.loc[dataset['EKG'] == 'T', 'EKG'] = 1

dataset.loc[dataset['KET'] == '-', 'KET'] = 0
dataset.loc[dataset['KET'] == '+', 'KET'] = 1

dataset = dataset.apply(pd.to_numeric, errors='coerce')
dataset.head()

,No,Umur,JK,Sex,RK,BB,Hipertensi / sistol,LDM,TKT,GDS,HBA1C,EKG,KET
0,1.0,46,0,0,1,50,150,2011,110.0,444,6.8,0,1
1,2.0,63,0,0,0,65,140,2019,130.0,202,7.7,0,1
2,3.0,72,0,0,1,60,174,2018,185.0,116,5.7,0,1
3,4.0,64,0,0,1,52,120,2018,170.0,396,8.2,0,1
4,5.0,54,0,0,1,55,157,2018,167.0,384,11.8,0,1

In [91]:
#data yang akan dimasukan ke Fitur Scaling
X = dataset.iloc[:, [1,2,3,4,5,6,7,8,9,10,11]].values
y = dataset.iloc[:, 12].values

In [92]:
#Kelompokan data ke dalam training set dan test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [93]:
#Membuat model naive bayes terhadap training test
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [94]:
#prediksi hasil test set
y_pred = classifier.predict(X_test)
y_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [95]:
#menghitung akurasi
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7142857142857143

In [96]:
#confusion matriks
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 2,  7],
       [ 3, 23]], dtype=int64)