In [57]:
#Library yang digunakan
import pandas as pd
import numpy as np

In [58]:
#import data dgn format excel
dataset = pd.read_csv('data_training_new.csv')
#melihat data
dataset.head()

   UMUR   BB    TB JK  KETERANGAN
0     1  1.9  46.0  L  Gizi Buruk
1     3  2.0  48.0  L   Gizi Baik
2     1  2.8  48.0  P   Gizi Baik
3     1  2.8  48.0  P   Gizi Baik
4     1  2.8  48.0  L   Gizi Baik

In [59]:
#transformasi data
dataset.loc[dataset['KETERANGAN'] == 'Gizi Buruk', 'KETERANGAN'] = 0
dataset.loc[dataset['KETERANGAN'] == 'Gizi Baik', 'KETERANGAN'] = 1

dataset.loc[dataset['JK'] == 'L', 'JK'] = 0
dataset.loc[dataset['JK'] == 'P', 'JK'] = 1

dataset = dataset.apply(pd.to_numeric, errors='coerce')
dataset.head()

   UMUR   BB    TB  JK  KETERANGAN
0     1  1.9  46.0   0           0
1     3  2.0  48.0   0           1
2     1  2.8  48.0   1           1
3     1  2.8  48.0   1           1
4     1  2.8  48.0   0           1

In [60]:
#data yang akan dimasukan ke Fitur Scaling
x = dataset.iloc[:, [1,2]].values
y = dataset.iloc[:, 3].values

In [61]:
#Variabel Independen
x = dataset.drop(["KETERANGAN"], axis = 1)
x.head()

   UMUR   BB    TB  JK
0     1  1.9  46.0   0
1     3  2.0  48.0   0
2     1  2.8  48.0   1
3     1  2.8  48.0   1
4     1  2.8  48.0   0

In [62]:
#Variabel Dependen
y = dataset["KETERANGAN"]
y.head()

0    0
1    1
2    1
3    1
4    1
Name: KETERANGAN, dtype: int64

In [66]:
#Kelompokan data ke dalam training set dan test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.17, random_state =10)

y_train = y_train.ravel()
y_test = y_test.ravel()

print('Training dataset shape:', x_train.shape, y_train.shape)
print('Testing dataset shape:', x_test.shape, y_test.shape)

Training dataset shape: (500, 4) (500,)
Testing dataset shape: (103, 4) (103,)

In [67]:
#fitur scalling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,17))
rescaledx = scaler.fit_transform(x_test)
np.set_printoptions(precision=2)
print(rescaledx[0:103,:])

[[ 0.    0.72  0.98  0.  ]
 [ 0.    0.56  0.98 17.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    1.02  0.98  0.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 8.5  17.   15.37 17.  ]
 [ 0.    0.    0.   17.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    1.02  0.78  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 4.25  5.43  9.81  0.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    1.02  0.92 17.  ]
 [ 0.    1.02  1.44  0.  ]
 [ 0.    6.04  8.17 17.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  1.96  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    1.02  0.98 17.  ]
 [ 0.    0.72  0.65  0.  ]
 [ 0.    1.02  0.65 17.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    0.87  0.33 17.  ]
 [ 4.25  9.54 13.08 17.  ]
 [ 0.    0.26  1.31  0.  ]
 [ 0.    0.72  0.98 17.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.72  0.33  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.56  0.98 17.  ]
 [ 0.    1.02  1.31 17.  ]
 [ 0.    0.87  1.63  0.  ]
 [ 0.    0.87  2.94  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.   10.76 16.02 17.  ]
 [ 0.    0.87  0.92  0.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.56  0.98 17.  ]
 [ 0.    1.02  0.98 17.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    1.02  0.65  0.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.56  0.65 17.  ]
 [ 0.    1.02  0.98 17.  ]
 [ 8.5  10.   13.73  0.  ]
 [ 0.    0.72  0.98 17.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    4.22  4.74  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.87  3.6  17.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.56  0.65  0.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [12.75 11.22 14.71 17.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    0.87  1.96  0.  ]
 [ 0.    0.87  0.    0.  ]
 [ 0.    0.72  0.98  0.  ]
 [12.75 17.   16.35 17.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.87  0.98 17.  ]
 [ 0.    1.02  0.92 17.  ]
 [ 0.    1.02  0.98  0.  ]
 [ 0.    0.72  0.33 17.  ]
 [ 0.    1.02  0.95 17.  ]
 [ 0.    1.02  0.92 17.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  1.31  0.  ]
 [17.   13.8  17.    0.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    1.02  1.31 17.  ]
 [ 0.    0.72  0.92  0.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.56  0.65  0.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    0.72  0.98 17.  ]
 [ 0.    0.87  1.31  0.  ]
 [ 0.    0.72  0.98 17.  ]
 [ 0.    0.87  0.98  0.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    1.02  0.98 17.  ]
 [ 8.5  12.28 16.28  0.  ]
 [ 0.    0.87  1.31 17.  ]
 [ 0.    0.87  0.65  0.  ]
 [ 0.    0.72  0.98  0.  ]
 [ 0.    0.87  1.21  0.  ]
 [ 0.    0.72  0.98 17.  ]]

In [68]:
#Membuat model naive bayes terhadap training test
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_test, y_test)

GaussianNB()

In [69]:
#prediksi hasil test set
y_pred = classifier.predict(x_test)
print("Prediksi Naie Bayes : ", y_pred)

Prediksi Naie Bayes :  [1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1]

In [70]:
#menghitung akurasi
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9611650485436893

In [71]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [72]:
# Build RF classifier to use in feature selection
clf = RandomForestClassifier(n_estimators=100, n_jobs=-1)

# Build step forward feature selection
sfs1 = sfs(clf,
           k_features=4,
           forward=True,
           floating=False,
           verbose=2,
           scoring='accuracy',
           cv=4)

# Perform SFFS
sfs1 = sfs1.fit(x_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    3.1s finished

[2021-06-15 17:39:07] Features: 1/4 -- score: 0.984[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    2.5s finished

[2021-06-15 17:39:09] Features: 2/4 -- score: 0.984[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.7s finished

[2021-06-15 17:39:11] Features: 3/4 -- score: 0.982[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.8s finished

[2021-06-15 17:39:12] Features: 4/4 -- score: 0.984

In [73]:
# Which features?
feat_cols = list(sfs1.k_feature_idx_)
print(feat_cols)

[0, 1, 2, 3]

In [74]:
# Build full model on ALL features, for comparison
clf = RandomForestClassifier(n_estimators=500, random_state=10, max_depth=4)
clf.fit(x_train, y_train)

y_pred = clf.predict(x_train)
print('Testing accuracy on all features: %.4f' % acc(y_train, y_pred))

Testing accuracy on all features: 0.9960