In [39]:
import pandas as pd
import numpy as np

In [40]:
Data = pd.read_csv("data.csv", delimiter = ",")
Data.head()

   NO RM  Usia  JK  GDP  GDPP   TD  Nyeri  Lemes  Riwayat  DIAGNOSA
0      1    59   1  137   215  172      0      1        1         1
1      2    72   1   95    90  102      1      0        1         0
2      3    71   0  260   221  139      0      1        1         1
3      4    60   0  201   102  102      1      1        1         1
4      5    49   0   99   116   72      1      1        1         1

In [41]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO RM     268 non-null    int64
 1   Usia      268 non-null    int64
 2   JK        268 non-null    int64
 3   GDP       268 non-null    int64
 4   GDPP      268 non-null    int64
 5   TD        268 non-null    int64
 6   Nyeri     268 non-null    int64
 7   Lemes     268 non-null    int64
 8   Riwayat   268 non-null    int64
 9   DIAGNOSA  268 non-null    int64
dtypes: int64(10)
memory usage: 21.1 KB

In [42]:
#variabel Independen
x = Data.drop(["DIAGNOSA"], axis = 1)
x.head()

   NO RM  Usia  JK  GDP  GDPP   TD  Nyeri  Lemes  Riwayat
0      1    59   1  137   215  172      0      1        1
1      2    72   1   95    90  102      1      0        1
2      3    71   0  260   221  139      0      1        1
3      4    60   0  201   102  102      1      1        1
4      5    49   0   99   116   72      1      1        1

In [43]:
#Variabel Dependen
y = Data["DIAGNOSA"]
y.head()

0    1
1    0
2    1
3    1
4    1
Name: DIAGNOSA, dtype: int64

In [44]:
#kelompokan data kedalam training set dan test set
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.20, random_state=123)

#ngeprint data testing
x_train

     NO RM  Usia  JK  GDP  GDPP   TD  Nyeri  Lemes  Riwayat
165    166    54   1   96   130  103      0      0        0
170    171    75   0  102   135  171      0      0        0
5        6    50   0   98    96  201      0      0        0
4        5    49   0   99   116   72      1      1        1
256    257    74   1   90   133   96      0      0        0
..     ...   ...  ..  ...   ...  ...    ...    ...      ...
106    107    52   1   79   221  136      1      0        1
83      84    58   1  475   574  140      0      0        0
17      18    48   0  103   164  168      0      0        0
230    231    69   1  100   118  140      0      0        0
98      99    53   1  200   275  147      1      0        1

[214 rows x 9 columns]

In [46]:
#fitur scalling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
rescaledx = scaler.fit_transform(x_train)
np.set_printoptions(precision=2)
print(rescaledx[0:172,:])

[[0.62 0.52 1.   ... 0.   0.   0.  ]
 [0.64 0.91 0.   ... 0.   0.   0.  ]
 [0.02 0.44 0.   ... 0.   0.   0.  ]
 ...
 [0.8  0.91 1.   ... 0.   0.   0.  ]
 [0.36 0.57 1.   ... 0.   0.   0.  ]
 [0.38 0.78 1.   ... 0.   1.   1.  ]]

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [48]:
knn = KNeighborsClassifier(n_neighbors=3)

In [49]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [50]:
y_pred = knn.predict(x_test)
y_pred

array([1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0], dtype=int64)

In [51]:
#menghitung accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [52]:
knn.predict_proba(x_test)

array([[0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.33, 0.67],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ]])

In [53]:
from sklearn.metrics import classification_report, confusion_matrix

In [54]:
print(confusion_matrix(y_pred, y_test))

[[27  0]
 [ 0 27]]

In [55]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        27
           1       1.00      1.00      1.00        27

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

In [56]:
y_hasil = pd.Series([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0], name="Hasil")

y_pred = pd.Series([1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1], name="Prediksi")
df_confusion = pd.crosstab(y_hasil, y_pred)
df_confusion

Prediksi   0   1
Hasil
0          9  26
1         22  10